<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <define name="ip" class="com.htqyjsw1.searchpage.aspect.LogIpConfig"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 日志生成位置 -->


    <appender name="eventFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${ip}-searchpage-realtime.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
            <FileNamePattern>log/user-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>36500</maxHistory>
            <maxFileSize>3GB</maxFileSize>
            <totalSizeCap>109500GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- 打印 日志级别-->
    <root level="info">
        <appender-ref ref="eventFile"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>